.venv/
Final_designs/Radix-2/Final Designs Radix-2/
Final_designs/Radix-4/Final Designs Radix-4/
Final_designs/Radix-split/Final Designs Split-Radix/
Final_designs/Radix-split_cshm/Final Designs Split-Radix-Cshm/
Final_designs/Software/*
!Final_designs/Software/synthesis.py
!Final_designs/Software/FFT_softaware.py
Final_designs/Data/*
!Final_designs/Data/synthesis_results.csv

